# .gitignore
.secrets
node_modules

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
dist/
build/
site/
pip-wheel-metadata/

# Node.js
.npm/
.pnpm-store/
.yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
coverage/
vite.svg
*.tsbuildinfo

